$card-width: 200px;

html {
  font-family: Roboto, sans-serif;
}

body {
  margin: 0;
}

* {
  box-sizing: border-box;
}

@import "_header.scss";
// @import "_catalog.scss";

.catalog {
  display: grid;
  grid-template-columns: repeat(auto-fill, $card-width);
  justify-content: center;
  max-width: 944px;
  margin: 0 auto;
  gap: 48px;

  &__card {
    display: grid;
    justify-content: center;
    align-items: center;
    width: $card-width;
    height: 300px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
}

@media screen and (max-width: "1023px") {
  .catalog {
    grid-template-columns: repeat(3, $card-width);
  }
}
@media (max-width: "767px") {
  .catalog {
    grid-template-columns: repeat(2, $card-width);
  }
}
@media (max-width: "486px") {
  .catalog {
    grid-template-columns: repeat(1, $card-width);
  }
}
